#header{
	height: 90px;
	background-color: #fff;
       padding: 5px 0 5px 5%;
	
}
.logo{
	width: 48%;
    display: inline;
    position: absolute;
    top:30px;
}
.logo a{
	margin-left: 30px;
	text-decoration: none;
    font-size: 16px;
    color: #787878;
}
.a1{
}
.nav{
	display: flex;
	justify-content: flex-end;
	width:48%;
	height: 90px;
	float: right;
}
.nav a{
	display: block;
	width: 15%;
	height: 90px;
	border-left: 1px solid #787878;
}
#search{
	width: 100px;
	height:85px;
	border:none;
}
.a1{
	margin:30px 50px;
}
/*尾部代码*/
#f{
		background-color: #252525;
		
}
#footer{
	width: 1000px;
	height: 300px;
	margin: 0 auto;
	text-align: center;
	color: rgba(255, 255, 255, 0.6);
	padding: 70px 0 60px;
}
.big{
	display: flex;
	justify-content:space-around;
}
.big ul{
	margin-top: -8px;
}
.big ul>li{
	list-style: none;
	margin-top: 10px;
}
.list a{
	text-decoration: none;
	color: #787878;
	margin-left:20px;
}
