#footer{
	width: 100%;
	height: 60px;
	background-color: #424242;
	text-align: center;
	padding-top:30px;
}
.text1{
	font-size:14px;
	color:#fff;
}
.text2{
	text-decoration: none;
	color:#fff;
	border-bottom:1px dotted #aaa;
}
.text3{
	text-decoration: none;
	color:#9e9e9e;
	margin-left:25px;
}